{% extends 'blog/base.html' %}
{% block header %}
  <title>Categorias - EJECT</title>
{% endblock %}
{% block content %}
<ul class="col-xs-12" id="postagens">
{% if categoriaescolhida %}
<div class="categoriaescolhida">
<h3>Categoria: {{categoriaescolhida.nome}}</h3>
</div>
{% endif %}
{% for post in posts %}
    <li class="col-xs-6 col-sm-4 col-md-3">
      <a href="/post/{{  post.slug }}" class="linkpost">
        <div class="post" style="background-image: url({{post.capa.url}});">
          <div class="titulo">
              <h3>
                {{post.title}}
              </h3>
          </div>
        </div>
      </a>
    </li>
{% endfor %}
</ul>
{% endblock content %}